<app-custom-header [title]="'Detalle de Encuesta'"></app-custom-header>
<ion-content [fullscreen]="true" class="ion-padding custom-padding">
  <ion-list lines="none">
    <div class="item">
      <ion-label>
        <p>1. Eficiencia en la realización de tareas asignadas durante el último trímestre:</p>
        <div class="response">
          <p>Eficiente</p>
        </div>
      </ion-label>
    </div>
    <div class="item">
      <ion-label>
        <p>2. ¿Con qué frecuencia cumples con los plazos establecidos para tus tareas y proyectos?</p>
        <div class="response">
          <p>Siempre</p>
        </div>
      </ion-label>
    </div>
    <div class="item">
      <ion-label>
        <p>3. ¿Qué tan bien considera que el empleado está capcitado para realizar las tareas?:</p>
        <div class="response">
          <p>Neutral</p>
        </div>
      </ion-label>
    </div>
  </ion-list>
</ion-content>
