<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: center; position: relative; width: 100%;">
      <ion-title size="large" class="titleTabs" style="text-align: center;">Capacitación</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-header collapse="condense">
    <ion-toolbar>
      <div  size="large" style="display: flex; align-items: center; justify-content: center; position: relative; width: 100%;">
        <ion-icon class="backArrow" name="chevron-back-outline"></ion-icon>
        <ion-title size="large" class="titleTabs">Capacitación</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
<div style="margin-bottom: 5px;">
  <div class="container">
    <ion-card class="header ion-no-margin">
      <ion-img src="assets/images/image-2.png"></ion-img>
      <div class="card-details">
        <p class="title ion-no-margin">¡Vamos!</p>
        <p class="subtitle ion-no-margin">Llevas 3/5 capacitaciones</p>
      </div>
    </ion-card>
  </div>

  <ion-list lines="inset">
    <ion-item>
      <div class="checkIcon">
        <ion-img style="width: 15px;" src="assets/images/check_ic.png"></ion-img>
      </div>
      
      <div class="text-container">
        <ion-text class="capTitle"><strong>Respuesta ante emergencias</strong></ion-text>
        <ion-text class="capDescription">EntrenamientoEntrenamientoEntrenamientosddffdaEntrenamientoEntrenamientoEntrenamientosddffdaEntrenamientoEntrenamientoEntrenamientosddffda en procedimientos de emergencia, manejo de citas y coordinación con autoridades. Este texto debería ser largo para probar cómo se ajusta.</ion-text>
      </div>

      <ion-icon class="redirectIcon" name="chevron-back-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <div class="pendientIcon">
        <ion-icon  style="width: 15px;" name="remove-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-text class="capTitle"><strong>Respuesta ante emergencias</strong></ion-text>
        <ion-text class="capDescription"> en procedimientos de emergencia, manejo de citas y coordinación con autoridades. Este texto debería ser largo para probar cómo se ajusta.</ion-text>
      </div>
      <ion-icon class="redirectIcon" name="chevron-back-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <div class="checkIcon">
        <ion-img style="width: 15px;" src="assets/images/check_ic.png"></ion-img>
      </div>
      
      <div class="text-container">
        <ion-text class="capTitle"><strong>Respuesta ante emergencias</strong></ion-text>
        <ion-text class="capDescription">EntrenamientoEntrenamientoEntrenamientosddffdaEntrenamientoEntrenamientoEntrenamientosddffdaEntrenamientoEntrenamientoEntrenamientosddffda en procedimientos de emergencia, manejo de citas y coordinación con autoridades. Este texto debería ser largo para probar cómo se ajusta.</ion-text>
      </div>

      <ion-icon class="redirectIcon" name="chevron-back-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <div class="pendientIcon">
        <ion-icon  style="width: 15px;" name="remove-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-text class="capTitle"><strong>Respuesta ante emergencias</strong></ion-text>
        <ion-text class="capDescription"> en procedimientos de emergencia, manejo de citas y coordinación con autoridades. Este texto debería ser largo para probar cómo se ajusta.</ion-text>
      </div>
      <ion-icon class="redirectIcon" name="chevron-back-outline"></ion-icon>
    </ion-item>


    </ion-list>  
  </div>
</ion-content>
