<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="dimiss()" class="back" shape="round">
    <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
  </ion-button>
  <div class="form-content">
    <div class="form">
      <h1>Reporte en proceso</h1>
      <div class="progress-bar" >
        <div class="item" [ngClass]="step > 0 ? 'active' : ''"></div>
        <div class="item" [ngClass]="step > 1 ? 'active' : ''"></div>
  
      </div>
      <div class="step" *ngIf="step === 1">
        <h6>Información General:</h6>
        <ion-label>
          <ion-input type="date" label="Fecha de egreso"></ion-input>
        </ion-label>
        <ion-label>
          <ion-input type="date" label="Fecha de ingreso"></ion-input>
        </ion-label>
      </div>
      <div class="step" *ngIf="step === 2">
        <h6>Motivo de la solicitud:</h6>
        <ion-input type="text" placeholder="Descripción del evento"></ion-input>
      </div>
      
    </div>
    <ion-button (click)="next()" expand="block" class="secondary" shape="round">
      Continuar
    </ion-button>
  </div>
</ion-content>
