<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: center; position: relative; width: 100%;">
      <ion-title size="large" class="titleTabs" style="text-align: center;">Notificaciones</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="text-Inter">

  <ion-header collapse="condense">
    <ion-toolbar>
      <div style="display: flex; align-items: center; justify-content: center; position: relative; width: 100%;">
        <ion-icon class="backArrow" name="chevron-back-outline"></ion-icon>
        <ion-title size="large" class="titleTabs">Notificaciones</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list lines="inset">
      <ion-item>
        <div class="checkIcon">
          <ion-img style="width: 15px;" src="assets/images/noti_sent_ic.png"></ion-img>
        </div>
        <div class="text-container">
          <ion-text class="capTitle"><strong>Se ha visto tu sugerencia</strong></ion-text>
          <ion-text class="capDescription">Hace 5 días</ion-text>
        </div>
  
        <div class="verMas">
          <ion-text >Ver más</ion-text>
        </div>
  
      </ion-item>

      <ion-item>
        <div class="checkIcon">
          <ion-img style="width: 15px;" src="assets/images/noti_sent_ic.png"></ion-img>
        </div>
        <div class="text-container">
          <ion-text class="capTitle"><strong>Se ha visto tu sugerencia</strong></ion-text>
          <ion-text class="capDescription">Hace 5 días</ion-text>
        </div>
  
        <div class="verMas">
          <ion-text >Ver más</ion-text>
        </div>
  
      </ion-item>

      <ion-item>
        <div class="checkIcon">
          <ion-img style="width: 15px;" src="assets/images/noti_sent_ic.png"></ion-img>
        </div>
        <div class="text-container">
          <ion-text class="capTitle"><strong>Se ha visto tu sugerencia</strong></ion-text>
          <ion-text class="capDescription">Hace 5 días</ion-text>
        </div>
  
        <div class="verMas">
          <ion-text >Ver más</ion-text>
        </div>
  
      </ion-item>

      <ion-item>
        <div class="checkIcon">
          <ion-img style="width: 15px;" src="assets/images/noti_sent_ic.png"></ion-img>
        </div>
        <div class="text-container">
          <ion-text class="capTitle"><strong>Se ha visto tu sugerencia</strong></ion-text>
          <ion-text class="capDescription">Hace 5 días</ion-text>
        </div>
  
        <div class="verMas">
          <ion-text >Ver más</ion-text>
        </div>
  
      </ion-item>
      
    </ion-list>

  </div>








</ion-content>
