<div class="carousel-main">
  <div class="carousel-container">
    <div class="task-carousel">
      <div class="task-card start">
        <div class="desc-container">
          <ion-icon slot="icon-only" name="checkmark-sharp"></ion-icon>
          <p class="desc ion-no-margin">
            Iniciar Jornada
          </p>
        </div>
      </div>
      <div class="task-card stop">
        <div class="desc-container">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
          <p class="desc ion-no-margin">
            Terminar Jornada
          </p>
        </div>
      </div>
      <div class="task-card normal">
        <div class="desc-container">
          <ion-icon slot="icon-only" name="time-outline"></ion-icon>
          <p class="desc ion-no-margin">
            Tu Jornada
          </p>
        </div>
      </div>
      <div class="task-card normal" style="margin-right: 0.5rem;">
        <div class="desc-container">
          <ion-icon slot="icon-only" class="ph ph-user-list"></ion-icon>
          <p class="desc ion-no-margin">
            Encuestas
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
