div.carousel-main{
    margin-left: 0.5rem;
}
div.carousel-container{
    overflow-x: scroll;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}
div.task-carousel{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    .task-card{
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 10px ;
        text-align: center;
        padding: 0.5rem;
        font-size: var(--small);
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon{
            font-size: var(--xxlarge);
        }
    }
    .start{
        border: 1.5px solid var(--green);
        background: var(--green-light);
        color: var(--green);
        ion-icon{
            color: var(--green);
        }
    }
    .stop{
        border: 1.5px solid var(--red);
        background: var(--red-light);
        color: var(--red);
        ion-icon{
            font-size: var(--xlarge);
            color: var(--red);
            margin-bottom: 0.3rem;
        }
    }
    .normal{
        border: 1.5px solid var(--primary);
        background: var(--primary-light-shadow);
        color: var(--primary);
        ion-icon{
            color: var(--primary);
            font-size: var(--xlarge);
            margin-bottom: 0.3rem;
        }
    }
}