<div class="capabilities-container">
  <div class="capabilities-carousel">
    <ion-card class="ion-no-margin">
      <ion-img src="https://picsum.photos/500"></ion-img>
      <div class="card-body">
        <p class="title ion-no-margin">Reportar Incidente</p>
        <p class="desc ion-no-margin">Reporta algún colaborador en nuestro nuevo canal.</p>
        <div class="link">
          <p class="ion-no-margin">Ingresar</p>
          <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-margin">
      <ion-img src="https://picsum.photos/500"></ion-img>
      <div class="card-body">
        <p class="title ion-no-margin">Reportar Incidente</p>
        <p class="desc ion-no-margin">Reporta algún colaborador en nuestro nuevo canal.</p>
        <div class="link">
          <p class="ion-no-margin">Ingresar</p>
          <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>
</div>
