<div class="capabilities-container">
  <div class="capabilities-carousel">
    <ion-card class="ion-no-margin" (click)="reports()">
      <ion-img src="assets/images/incidentes.jpeg"></ion-img>
      <div class="card-body">
        <p class="title ion-no-margin">Reportar Incidente</p>
        <p class="desc ion-no-margin">Reporta algún colaborador en nuestro nuevo canal.</p>
        <div class="link">
          <p class="ion-no-margin">Ingresar</p>
          <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-margin">
      <ion-img src="assets/images/sugerencias.jpeg"></ion-img>
      <div class="card-body">
        <p class="title ion-no-margin">Buzón de Sugerencias</p>
        <p class="desc ion-no-margin">Solicita propuestas para tu empresa.</p>
        <div class="link">
          <p class="ion-no-margin">Ingresar</p>
          <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-margin">
      <ion-img src="assets/images/incidentes.jpeg"></ion-img>
      <div class="card-body">
        <p class="title ion-no-margin">Actas Administrativas</p>
        <p class="desc ion-no-margin">Verifica el historial de tus actas en la empresa.</p>
        <div class="link">
          <p class="ion-no-margin">Ingresar</p>
          <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-no-margin comodin"></ion-card>
  </div>
</div>
