// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --black: #000000;
    --white: #ffffff;
    --primary: #223D72;
    --primary-light: #25437e;
    --primary-light-shadow: #E9F0FF;
    --primary-shadow: #dbe5fb;
    --secondary: #E5D341;
    --gray:#D9D9D9;
    --gray-light: #dfe3e9;
    --gray-light-shadow: #F5F8FF;
    --gray-dark: #F6F6F6;
    --green: #75F94C;
    --green-light: #EEFFE9;
    --green-2: #BAFFB5;
    --red: #EB3223;
    --red-light: #FFF0EF;
    --yellow: #FFE501;
    --success: #E3FFE6;
    --xxsmall: 4px;
    --xsmall: 8px;
    --small: 12px;
    --medium: 16px;
    --large: 24px;
    --xlarge: 32px;
    --xxlarge: 40px;
    --xxxlarge: 48px;
}
