.message-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
ion-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    padding: 0.5rem;
    color: var(--white);
    background: var(--primary);
    font-size: var(--medium);
    margin-bottom: 1rem;
}
div.container{
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--white);
    padding: 2rem;
    padding-bottom: 2rem;
    ion-button{
        margin-bottom: 0.5rem;
    }
}
p{
    font-size: var(--normal);
    color: var(--gray-2);
    max-width: 70%;
}