<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="header">
    <ion-img src="assets/images/logo-white.png"></ion-img>
    <div class="desc">
      <h2 class="ion-no-margin">Buen día,</h2>
      <h1 class="ion-no-margin">José Carlos</h1>
      <ion-item-divider/>
      <p class="subtitle">Tu Nekela ID es: XXXXXX</p>
    </div>
  </div>
  <ion-footer #footer>
    <div class="container">
      <ion-card class="header ion-no-margin">
        <ion-img src="assets/images/image-1.png"></ion-img>
        <div class="card-details">
          <p class="title ion-no-margin">Nekela Plan</p>
          <p class="subtitle ion-no-margin">Plan Pro</p>
          <a class="ion-no-margin" (click)="goToSubscription()">Ver plan</a>
        </div>
      </ion-card>
      <h6>Métricas De Comportamiento</h6>
    </div>
    <app-task-carousel></app-task-carousel>
    <div class="container">
      <h6>Cómunicación Con Empresa</h6>
    </div>
    <app-capabilities-carousel></app-capabilities-carousel>
  </ion-footer>
</ion-content>
