div.header{
    --background: unset;
    background-image: url('/assets/images/nekela-background.jpeg');
    background-position: center;
    background-size: cover;
    height: 50%;
    padding: 1.5rem;
    padding-top: var(--home-padding-top);
    p{
        color: var(--white);
        position: relative;
        font-weight: 400;
    }
    h2{
        position: relative;
        color: var(--white);
        font-weight: 400;
        font-size: var(--xlarge);
    }
    h1{
        position: relative;
        color: var(--white);
        font-weight: bold;
        font-size: var(--xlarge);
        margin-bottom: 0.8rem;
    }
    ion-img{
        width: 90px;
        position: relative;
        margin-bottom: 4rem;
    }
    ion-item-divider{
        min-height: 1.5px;
        max-width:115px;
        opacity: 0.7;
    }
}
div.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    opacity: 0.7;
    z-index: 0;
}
ion-footer{
    background: var(--white);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    bottom: 0;
    padding-bottom:6rem;
    height: 60%;
    .container{
        padding: 1.5rem;
    }
    h6{
        margin: 0;
    }
    ion-card.header{
        box-shadow: none !important;
        display: flex;
        align-items: center;
        background: var(--primary-light-shadow);
        height: max-content;
        width: 100%;
        margin-bottom: 2rem;
        ion-img{
            width: 70px;
            margin-left: 1.5rem;
            margin-right: 1rem;
        }
        div.card-details{
            padding: 1rem;
        }
        div.card-details 
        p.title{
            font-size: var(--small);
            font-weight: bold;
            color: var(--secondary);
            margin-bottom: 0.3rem;
        }
        p.subtitle{
            font-size: var(--xlarge);
            color: var(--primary);
            font-weight: bold;
            margin-bottom: 0.3rem;
        }
        a{
            color: var(--priamry);
            font-weight: 600;
            border-bottom: 1px solid var(--primary);
        }
    }
}
ion-footer {
    transition: all 0.3s ease-in-out;
  
    &.footer-grow {
      height: 70%;
    }
  
    &.footer-shrink {
      height: 60%;
    }
  }