  <ion-content [fullscreen]="true" style="--background: #f0f0f0;">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <div style="display: flex; align-items: center; justify-content: center; position: relative; width: 100%;">
          <ion-icon class="backArrow" name="chevron-back-outline"></ion-icon>
        </div>
      </ion-toolbar>
    </ion-header>
  
    <div style="margin-top: 15%; margin-bottom: 15%;">
      <ion-card class="rounded-img">
        <div class="icon-container">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
        <ion-img src="assets/images/image-2.png" alt="Descripción de la imagen"></ion-img>
      </ion-card>
    </div>    
    <div class="menu">
      <ion-card>
        <ion-list lines="inset">
          <ion-item style="padding-top: 5%;">
            <ion-label><strong> Nombre: </strong></ion-label>
            <ion-label style="text-align: center;">Jose Carlos C.</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
    
          <ion-item style="padding-top: 5%;">
            <ion-label><strong> Telefono: </strong></ion-label>
            <ion-label style="text-align: center;">+52 669 980 7787</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
    
          <ion-item style="padding-top: 5%;">
            <ion-label><strong> Email: </strong></ion-label>
            <ion-label style="text-align: center;">josercarlos.caldre&#64;gmail.com</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

          <ion-item style="padding-top: 5%;">
            <ion-label><strong> Empresa: </strong></ion-label>
            <ion-label style="text-align: center;">Bridge Studio</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

          <ion-item style="padding-top: 5%;">
            <ion-label><strong> Puesto: </strong></ion-label>
            <ion-label style="text-align: center;">Guardia de Seguridad</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

        </ion-list>
      </ion-card>
    </div>



</ion-content>